<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>gu1TjtqlrIk98ils9Lb7OggebJgmrJSHoJkmv3yt/eP8iItEs1kOUesLoDHj65iHVLPe8hMx/CKHuGb8c6eF/6UTUWPkqMmF5F5gw6IT1MRxLGkGyX8vqE/Hn95T8LACGMa3JhgG9tdVJHMLdPeyty8Lotmy2whnFunQnE90IPqJ3xsqU2D49zuiBlqVAhiGeMtTi6604SD56UGFECRfzq5OehHkAb9hlRuuHEPq0QVemFvyRdTn3KBm/HelKuf1O8boFX6/b+sEmuaRdYAwUgxd/3dCx+jgIpyHYBd/eBA1KG0UxX8lQ7Llbu+9k0LK2ovH5RcFDA9dIXuK9wvyzQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>FieH1XKq5sOmcYlDMw6WqlV/tlDu2Wxr8GZ0idDfkRg=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>