<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
  </configSections>
  
 <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>JP4lPVylyX996qu/njjBL6+xO2t9afTMZOPqGDXwIrhYYMbFkFtHFtWhZR6c/r2MP94eeFF29pnDcZopV3L+uV78trVFZlN/tc5c+bHX1tLDX96j8XEFPwEGajaT1Ea5t5FmzZ6rHHzamKRZBzcGQ7Ik2/73YSxRIyAFPLCRyA47dZrMIzJJcSEHGkPcuU/AVkBty1gCsfAbFPCbMHwwm++WUsWvQuPxxcXEWJSUqd3L3bRxMLrTbmtiS4W1CUi/avQm2ITlXYt9VBvs90DeR+BVUX2fRP/QTxByTgd8ELR6AW8DsfWBius5zsUO98BLvNX6qQXtHwYJtGHh6q9QLA==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>AnIWuVZ6Ygtk9CXI80IAsfJzmvTupbZkwNSnfz/VD8U3wBcxEFGMheNeLMetW6uxPxKsGUBEq14DFREJaNWymKpoLNL8XSNroKdGZSjCAzDBMifo1wzCq9kh7Gz7pbUx7QWZB53Sj2IK0Hz9110B5Ro59CxmA2rF/fzAc4xMBW0H2Ez8IxmfOYFLSMuwrzzPIufgcaSWZSFgMS17GVbJBSX6lzVXwGEpJNNFVImwEr7rul62S0bqEv54FHZuSWzDSRUY7Lau/20=</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
  <microsoft.xrm.client>
    <contexts>
      <add name="SalesPortal" type="Xrm.XrmServiceContext"  />
    </contexts>
  </microsoft.xrm.client>
  
  <system.web>
     <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Login.aspx"
   protection="All" timeout="30" path="/"
   requireSSL="false" slidingExpiration="true"
   cookieless="UseDeviceProfile" domain=""
   enableCrossAppRedirects="false">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization> 
    <compilation debug="true"   targetFramework="4.5.2" />
    <pages>
      <controls>
        <add tagPrefix="crm" namespace="Microsoft.Xrm.Portal.Web.UI.WebControls"  assembly="Microsoft.Xrm.Portal"  />
      </controls>
    </pages>
  
  </system.web>
  <location path="CreateOpportunity.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CreateLead.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OpenLeads.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MyOpenOpportunities.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WonOpportunities.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <directoryBrowse enabled="true" />
</system.webServer>
</configuration> 